/*****BASE STYLES*****/

body footer{
	font-family: 'Montserrat', sans-serif;
	color: #2b2b2b;
}

/*****GRID*****/

.full-width {
	width: 1200px;
	margin: 0 auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

/*****TOP*****/
 
 .half-width {
 	overflow: auto;
 	clear: none;
 }


 header{
	height: 108px;
	margin: 0 auto;
	overflow: auto;
}

 header h1 {
	padding: 38px 0px;
	font-family: 'Monterrat Bold' sans-serif;
	font-size: 30px;
}

 header h1 span {
	color: #669966;	
}

nav {
	float: right;
	padding: 48px 10px 10px 0;
}



nav ul li{
	display: inline;
}

nav ul li a{
	color: #669966;
	font-size: 14px;
	font-family: "Myriad Pro";
	line-height: 23px;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: bold;
	padding-left: 25px;
}

#top .full-width {
	overflow: auto;
	margin: 0 auto;
}


img{
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
}

 h2 {
	color: #669966;
	font-family: 'Monterrat Bold' sans-serif;
	font-size: 23px;
	font-weight: bold;
	line-height: 25px;	
	padding: 30px, 0;
}

p {
	font-weight: lighter;
	font-size: 16px;
	line-height: 25px;
	padding: 30px, 0;
	font-family: 'Monterrat Regular' sans-serif
}

/*****BOTTOM*****/

.full-width {
	margin: 0 auto;	
	overflow: auto;		
 }

 #menu h3, #reviews h3, #contact h3 {
	font-size: 12px;
	font-family: 'Monterrat Bold' sans-serif;
	line-height: 25px;
	font-variant: small-caps;
	border-top: 1px solid black;
	padding-top: 23px;
	
}

 ul{
	color: #669966;
	font-size: 16px;
	line-height: 30px;
	list-style: none;
	padding-left: 0px;
}

li {
	font-size: 16px;
	font-family: 'Montserrat Regular' sans-serif;	
}

p{
	font-weight: lighter;
	font-size: 16px;
	line-height: 21px;	
}

 #reviews {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

#reviews h3, #reviews p, #contact h3, #contact p {
	padding-left: 30px;
}


/*****FOOTER*****/

#footer .full-width{
	margin: 0 auto;	
}

footer h2{
	text-align: center;
	font-size: 16px;
	padding-top: 42px;
	color: black;
	clear: both;
	font-family: 'Montserrat Bold' sans-serif;
}

footer span{
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #669966;
	font-size: 16px;
}

















